<% title "Admin/Payment" %>

  <p>
    <strong>Name:</strong>
    <%= @payment.name %>
  </p>

<p>
    <%= link_to "Edit", edit_admin_payment_path(@payment), class: "btn btn-warning" %> |
    <%= link_to "Destroy", [:admin, @payment], data: {confirm: 'Are you sure?'}, :method => :delete, class: "btn btn-danger" %> |
    <%= link_to "View All", admin_payments_path, class: "btn btn-primary" %>
</p>
